<header class="bg-body-tertiary">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <logo-full></logo-full>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-lg-auto align-items-lg-center gap-lg-4">
            <li class="nav-item">
              <a class="nav-link" href="/products.html">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact.html">Contacto</a>
            </li>
            <li class="nav-item mt-2 mt-lg-0">
              <button class="btn btn-success w-100 w-lg-auto" type="button">
                Login/Registro
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>